.service-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 95%;
    margin: 0 auto;
}
.service-grid > p{
    padding:12%;
}
.row{
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 600px){
    footer{
        display: flex;
        flex-flow: row;
    }
    #contact-info{
        width: 50%;
    }
    #contact-form{
        width:50%;
    }
}
@media screen and (max-width: 600px) {
    .service-grid{
        grid-template-columns: 1fr;
        max-width: 90%;
        row-gap: 3vh;

    }
    /* ensures text always follows the correct pic*/
    .service-grid > div:nth-child(5){
        grid-row: 6 / span 1;
    }
    .service-grid > div:nth-child(7){
        grid-row: 8 / span 1;
    }
    footer{
        padding: 5vh 1vw;
    }
    body{
        background: #021127;
    }
}


