*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: url('./white-wood.jpeg');
}
img{
    max-width: 100%;
    max-height: 100%;
}
.hero{
    display: flex;
    background: rgba( 211, 211, 211, 0.30 );
    backdrop-filter: blur( 16.0px );
    -webkit-backdrop-filter: blur( 16.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hero div{
    width: 25%;
    align-self: center;
}
.hero img{
    width: 76%;
}
main, footer{
    box-shadow: 0 20px 26px rgb(11 9 10);

}
main.row{
    background: lightgray;
    background: #3d3d3d;
}
#about-us{
    background: #D7D7D7;
}
#services{
    background: #a8a8a8;
}
footer{
    background: #0B090A;
    color:white;
}
p, h3{
    text-align: center;
}
h2{
    margin: 0 0 5vh 0;
}
h3{
    padding-top: 7%;
}
.service-grid > p{
    padding:12%;
}
#about-us{
    text-align: center;
}

form{
    
    background: rgba( 220,20,60, .04 );
    box-shadow: 0 8px 32px 0 rgb(220 20 60 / 30%);
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    padding: 5vh 0;
}


label{
    margin: 1vh 0;
    text-align: center;
}

input, textarea{
    width: 50%;
    margin: 1vh auto;
    border-radius: 4px;
    border: solid firebrick 2px;
    }
textarea{
    max-width: 100%;
    min-height: 9vh;
    max-height: 51vh;
    min-width: 50%;
}
*:focus{
    outline: none;
}
button[type=submit], button{
    width: 26%;
    margin: 5vh auto;
    border-radius: 4px;
    background: #392324;
    box-shadow: -1px 1px 2px #321e1f, 1px -1px 2px #402829;
    color: white;
    padding: 2%;
}
button[type=submit]:hover, button:hover{
    transform: scale(1.01);
    animation-timing-function: ease-in-out;
}
button[type=submit]:active, button:active{
    box-shadow: inset -1px 1px 2px #321e1f,
    inset 1px -1px 2px #402829;
}
form p{
    margin-bottom: 0;
    text-align: center;
    font-size: 1em;
}