*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: whitesmoke;
    background: #345E9D;
}
img{
    max-width: 100%;
    max-height: 100%;
}
p, h3{
    text-align: center;
}
h2{
    margin: 0 0 5vh 0;
}
h3{
    padding-top: 7%;
}
.center-text{
    text-align: center;
}
.hero h1{
    font-size: 4rem;
    text-shadow: 3px 4px 7px rgb(81 67 21 / 80%);
    background: url(./white-wood.jpeg);
    padding: 25vh 0;
}
main, footer, .hero{
    box-shadow: 0 20px 26px rgb(11 9 10);
}

main.row{
    background: lightgray;
    background: #3d3d3d;
}
section{
    padding: 10vh 0 20vh;
}
section h2{
    padding: 10vh 0;
}

#about-us{
    background: #D7D7D7;
    text-align: center;
}
#about-us p{
    line-height: 3rem;
    letter-spacing: .115rem;
    text-align: left;
    padding: 0 5vw; 
}
#services{
    background: #a8a8a8;
}
#services{
    padding: 6vh 0 25vh;
}
#services h2{
    margin:0;
    padding: 10vh 0;
}

footer{
    background: #021127;
    color:white;
}

form{
    display: flex; 
    flex-flow: column;
    background: rgba( 220,20,60, .04 );
    padding: 5vh 0;
}
label{
    margin: 1vh 0;
    text-align: center;
}
input, textarea{
    width: 50%;
    margin: 1vh auto;
    border-radius: 4px;
    border: solid firebrick 2px;
    border: solid 2px #345e9d;
    }
textarea{
    max-width: 100%;
    min-height: 9vh;
    max-height: 51vh;
    min-width: 50%;
}
*:focus{
    outline: none;
}
button[type=submit]{
    font-size: 1.2rem;
    width: 26%;
    margin: 5vh auto;
    border-radius: 3px;
    border: 0;
    box-shadow: -1px 1px 2px #321e1f, 1px -1px 2px #402829;
    background: #c2d8fa;
    color: #021127;
    padding: 2%;
}
button[type=submit]:hover{
    transform: scale(1.01);
    animation-timing-function: ease-in-out;
    background: #9cbae8;
}
button[type=submit]:active{
    background: #345E9d;
    box-shadow: inset -1px 1px 2px #321e1f,
    inset 1px -1px 2px #402829;
}
form p{
    margin-bottom: 0;
    text-align: center;
    font-size: 1rem;
}
footer h2{
    margin: 0 6%;
    padding: 2vh 0;
    background: #345E9D;
}