.service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    max-width: 90%;
    margin: 0 auto;
}
.service-grid > p{
    padding:12%;
}
.row{
    max-width: 1400px;
    margin: 0 auto;
}

@media screen and (max-width: 1215px){
    .service-grid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
    }
}

@media screen and (min-width: 600px){
    footer{
        display: flex;
        flex-flow: row;
    }
    #contact-info{
        width: 50%;
    }
    #contact-form{
        width:50%;
    }
}
@media screen and (max-width: 610px) {
    .service-grid{
        grid-template-columns: 1fr;
    }
    #services{
        padding: 6vh 0 70vh;
        }

    footer{
        padding: 5vh 1vw;
    }
    body{
        background: #021127;
    }
}